// Variables ************************** */

$theme: #DB5600;
$bg-colour: #F8F8F8;
$dark-grey: #584E3B;

$supported: #B4A078;
$partial: #D9CFBB;
$not-supported: #F56C6C;
$unknown: #838383;

$font-colour: #FFF;

body {
  --supported: #B4A078;
  --partial: #D9CFBB;
  --not-supported: #F56C6C;
  --font-colour: #FFF;
}

body.accessible-colours {
  --supported: #A6EDB2;
  --partial: #97BFF0;
  --not-supported: #842E98;
  --font-colour: #000;
}

// Mixins ************************** */

@mixin supports-grid {
  @supports (display: grid) {
    @content;
  }
}
